* {
    color: #121213;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #ffffff;
}

.game-container {
    display: flex;
}

.title-container {
    
    margin: auto;
    text-align: center;
    width: 510px;
}

.title-words {
    text-align: center;
    border-bottom: solid 1px #3a3a3c;
    font-size: xx-large;
    font-weight: 700;
    padding-bottom: 10px;
}

.tile-container {
    width: 60%;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 5%;
}

.words-container {
    width: 42%;
    margin: 0;
    position: absolute;
    top: 20%;
    right: 2%;
}

.tile-container div {
    display: flex;
}

.words-container div {
    display: flex;
}

.tile {
    text-align: center;
}

#row-element {
    
}


#row-element .tile {
    width: 15%;
    height: 90px;
    background: #707064;
    display: flex;
    margin: 4px;
    justify-content: center;
    align-items: center;
    border-color: #818384;
    border-style: solid;
    font-size: large;
}



#green-container {
    float: left;
    width: 30%;
    margin: 4px;
    flex-direction: column;
}

#black-container {
    float: left;
    width: 30%;
    margin: 4px;
    flex-direction: column;
}

#grey-container {
    float: right;
    width: 30%;
    margin: 4px;
    flex-direction: column;
}

.token_up {
    top: 10px;
    right: 10px ;
}



#token_down {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.button {
    position: absolute;
    width: 10%;
    bottom: 0;
    right: 5%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.button-2 {
    position: absolute;
    width: 10%;
    bottom: 0;
    left: 5%;
    background-color: #d1361b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
}

.button:hover {
    background-color: #45a049;
  }

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.message-container {
    height: 30px;
}

.message-container p {
    background-color: #818384;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}


.chat-container {
    position: absolute;
    bottom: 5%;
    right: 5%;
	width: 35%;
	background: #f1f1f4;
	margin: 30px auto;
	overflow: hidden;
    border-color: #3a3a3c;
    border-width: 2px;
    max-height: 150px;
    border-style: solid;
}


.chat-main {
	display: grid;
    max-height: 120px;

}

.chat-messages {
    top: 5px;
    margin-top: 10px;
	max-height: 100px;
	padding: 5px;
	overflow-y: scroll;
}

.chat-messages .message {
    padding: 5px;
    font-size: small;
	margin-bottom: 5px;
	background-color: #ffffff;
	border-radius: 5px;
	overflow-wrap: break-word;
}


.chat-form-container {
	padding: 10px 30px;
}

.chat-form-container form {
    bottom: 15px;
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 8px;
	padding: 5px;
	height: 15px;
	flex: 1;
}

.current-score {
    padding-top: 5px;
    color: #707064;
}